extends ../layouts/default

block main
  h1= article.title

block content
  .row
    .span9
      p=article.body
      p.author
        span Author :&nbsp;
        a(href="/users/"+article.user_id)= username
      .date= formatDate(article.createdAt, "%b %d, %Y at %I:%M %p")
  p
    br
    form.center.form-inline.confirm(action="/articles/"+article.id, method="post")
      a.btn(href='/articles/'+article._id+'/edit', title="edit") Edit
      &nbsp;&nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit") delete

